* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url(/18.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 500px;
    background-color: transparent;
    padding: 35px;
    backdrop-filter: blur(0px);
    overflow: hidden;
    transition: backdrop-filter 1s;

}

.text {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
    top: 200px;
    transition: top 0.5s;
}

.container:hover .text {
    top: 0;
}

.container:hover {
    backdrop-filter: blur(5px);
    
}